<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품조회</title>
</head>
<body>
   <h1>등록 상품 조회 페이지</h1>
        <table>
            <tr>
                <td>상품코드</td>
                <td></td>
            </tr>
            <tr>
                <td>상품명</td>
                <td></td>
            </tr>
            <tr>
                <td>가격</td>
                <td></td>
            </tr>
            <tr>
                <td>상품 코드</td>
                <td></td>
            </tr>
        </table>
</body>
</html>